*__pycache__*
*.DS_Store*
*.env
*.tool-versions
*.vscode*
# Logs
frontend/react/logs
frontend/react/*.log
frontend/react/npm-debug.log*
frontend/react/yarn-debug.log*
frontend/react/yarn-error.log*
frontend/react/pnpm-debug.log*
frontend/react/lerna-debug.log*
frontend/react/node_modules
frontend/react/dist
frontend/react/dist-ssr
frontend/react/*.local

# Editor directories and files
frontend/react/.idea
frontend/react/*.suo
frontend/react/*.ntvs*
frontend/react/*.njsproj
frontend/react/*.sln
frontend/react/*.sw?

# Logs
backend/express/logs
backend/express/*.log
backend/express/npm-debug.log*
backend/express/yarn-debug.log*
backend/express/yarn-error.log*
backend/express/pnpm-debug.log*
backend/express/lerna-debug.log*
backend/express/node_modules
backend/express/dist
backend/express/dist-ssr
backend/express/*.local

# Editor directories and files
backend/express/.idea
backend/express/*.suo
backend/express/*.ntvs*
backend/express/*.njsproj
backend/express/*.sln
backend/express/*.sw?

backend/express/prisma/migrations
backend/express/prisma/dev.db

backend/fastapi/.venv